# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake

*.make

build/CMakeFiles/

build/

lib/my-socket-server/.vscode/

lib/libevent/.deps/

lib/libevent/m4/

lib/libevent/sample/.deps/

lib/libevent/test/.deps/

lib/libevent/test/.libs/

lib/libevent/sample/.libs/

lib/libevent/.libs/

lib/libco/example_closure

lib/libco/example_cond

lib/libco/example_copystack

lib/libco/example_echocli

lib/libco/example_echosvr

lib/libco/example_poll

lib/libco/example_thread

lib/libco/example_specific

lib/libevent/build-aux/

lib/libevent/sample/dns-example

lib/libevent/sample/event-read-fifo

lib/libevent/sample/hello-world

lib/libevent/sample/http-connect

lib/libzlog.so.1

lib/libzlog.so.1.2

lib/zlog/src/zlog-chk-conf

lib/libevent/test/test-weof

lib/libevent/test/test-ratelim

lib/libevent/test/test-time

lib/libevent/test/test-init

lib/libevent/test/test-eof

lib/libevent/test/test-fdleak

lib/libevent/test/test-dumpevents

lib/libevent/test/test-closed

lib/libevent/test/test-changelist

lib/libevent/test/rpcgen-attempted

*.pc

lib/libevent/autom4te.cache/

lib/libevent/sample/http-server

lib/libevent/sample/https-client

lib/libevent/sample/le-proxy

lib/libevent/sample/signal-test

lib/libevent/sample/time-test

lib/libevent/sample/watch-timing

.idea/

gameSvr
/cmake-build-debug
