# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake

*.make

build/CMakeFiles/

build/

lib/my-socket-server/.vscode/

lib/libevent/.deps/

lib/libevent/m4/

lib/libevent/sample/.deps/

lib/libevent/test/.deps/

lib/libevent/test/.libs/

lib/libevent/sample/.libs/

lib/libevent/.libs/

lib/libco/example_closure

lib/libco/example_cond

lib/libco/example_copystack

lib/libco/example_echocli

lib/libco/example_echosvr

lib/libco/example_poll

lib/libco/example_thread

lib/libco/example_specific
